.createUser{
    width: 20%;
    height: 150px;
    background-color: #89a0a9;
    padding: 10px 10px ;
    box-sizing: border-box;
    margin: 10px 10px;
    flex: 1 1 21%;
    max-height: 240px;
}

.formControl{
    margin: 10px 0px;
}

.formControl input{
    height: 30px;
    width: 95%;
}

.formControl button{
    height: 30px;
    width: 100%;
}